html,
body {
    height: 100%;
    width: 100%;
}

#tgt_cvs_div {
    display: none;
}

#password_div {
    display: none;
}

#chgTrnBtn {
    display: none;
}

#changeView {
    display: none;
}

.report {
    position: absolute;
    display: none;
    width: 65%;
    text-align: center;
    background-color: rgba(205,205,205,1);
    border: 2px solid black;
    border-radius: 15px;
    margin: auto;
    padding: 30px;
}

